<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Copyright (c) 2014 Coverity, Inc. All rights reserved worldwide. -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd">
</web-app>