grant codeBase "file:/var/lib/tomcat/webapps/foo/lib/-" {
    permission java.io.FilePermission "/var/tmp/*", "read";
    permission java.io.FilePermission "/var/tmp/foobar", "write";
};
