{
   "file:/var/lib/tomcat/webapps/foo/lib/-": {
      "java.io.FilePermission": {
         "/var/second/a": {
            "read": {}
         },
         "/var/third/a": {
            "read": {}
         }
      }
   }
}
